
.chat .chat-body {
  margin-top: 30px;
  max-width: 1000px;
  height: 500px;
}

.chat .chat-heading {
  background-color: #e3e6e8;
  height: 30px;
  font-size: 18px;
  font-weight: bold;
  color: #616160;
  margin: 0 auto;
}

.chat .chat-content {
  height: 470px;
  border-left: solid 1px;
  border-left-color: #e3e6e8;
  border-right: solid 1px;
  border-right-color: #e3e6e8;
  margin: 0 auto;
}

.user-list {
  height: inherit;
  width: 200px;
  float: left;
  border-right: solid 1px;
  border-right-color: #e3e6e8;
}

.messages
{
    list-style: none;
    margin-left: 200px;
    padding: 0;
    height: 415px;
    overflow-y: scroll;
}

.messages .message{
  height: auto;
  margin-bottom: 20px;
}

.message .image{
  width: 50px;
  float: left;
  margin-left: 20px;
}

.message .right-content {
  text-align: left;
  margin-left: 110px;
  height: auto;
}

.message .right-content .username {
  font-weight: bold;
  float: left;
  margin-right: 10px;
}

.message .right-content .time {
  color: #b6b6b6;
  margin-right: 30px;
}

.message .right-content .message-content {
  font-family: sans-serif;
}

.panel-footer {
}
