body {
  height: 100%; width: 100%; margin: 0;
}

.content {
  height: 100%; width: 100%; margin: 0;
}

.ng-scope {
  height: 100%;
}

.myView {

    height: calc(100% - 52px);
}

.navbar {
  margin: 0 auto;
  width: 100%;
  background-color: #007aaf;
}

.navbar .ng-scope {
  margin: 0 auto;
  height: 10px;;
}

.navbar .navbar-nav > li > a {
    font-family: ‘Arial Black’, Gadget, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: white;
}

.navbar .navbar-nav > li > a:hover {
  color: #007aaf;
}

.navbar-brand {
  font-family: Impact, Charcoal, sans-serif;
  font-size: 30px;
  margin-left: 50px;
  color: white;
}

.active {
  background-color: #6fd3f2 !important;
}
