#login {
  /*background-image: url(../images/background4.jpg);*/
  background-color: #f7f5ef;
  width: 100%;
  height: 100%;
  margin: 0;
}

.container {
  float: none;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

#login .login-wall {
  margin-top: 120px;
  position: relative;
  text-align: center;
}

#login .login-wall .content{
  float: none;
  margin: 0 auto;
  padding-bottom: 20px;
  border-radius:20px;
  background-color: #ffffff;
  width: 350px;
}

#login .logo {
  font-family: sans-serif;
  color: #2e86be;
  font-size: 25px;
  font-weight: bold;
  padding: 15px;
}

#login .form-signin
{
    max-width: 400px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

#login .form-signin input{
  margin-bottom: 10px;
}

#login .form-signin .login-alert {
  padding: 1px;
  margin: 10px;
}

#footer {
 text-align: center;
 position: fixed;;
 bottom: 0px;
 height: 30px;
 width: 100%;
 color: #ff8b8b;
}
