#myCarousel {
  height: 100%;
}

.page-scroll {
  font-size: 40px;
  color: orange;
  position: absolute;
  bottom: 20px;
  right: 50px;
}

#contact {
  height: calc(100% + 52px);
  padding-top: 50px;
}

.contact-detail {
  margin-top: 30px;
}

textarea {
  margin-top: 30px;
  resize: none;
}

.send-message{
  background-color: #e9904f;
  margin-top: 30px;
  font-size: 18px;
  font-weight: bold;
}
