/*.content .left-content {
  width: 200px;
  float: left;
}

.content .left-content .nav {
  font-size: 16px;
}

.content .left-content .nav > li > a{
  color: #7e8185;
  font-family: ‘Arial Narrow’, sans-serif;
  font-size: 18px;
}*/
.content .right-content .profileImage {
  width: 200px;
  height: 200px;
}

.fadeIn {
    -webkit-animation: fadein 0.5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 0.5s; /* Firefox < 16 */
        -ms-animation: fadein 0.5s; /* Internet Explorer */
         -o-animation: fadein 0.5s; /* Opera < 12.1 */
            animation: fadein 0.5s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* remove the default hide effect for tabs */
.ng-hide.ng-hide-animate{
     display: none !important;
}

/* side navigation */
.bs-docs-sidenav {
  width: 228px;
  margin: 30px;
  padding: 0;
  background-color: #fff;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
     -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
          box-shadow: 0 1px 4px rgba(0,0,0,.065);
}

.bs-docs-sidenav > li > a {
  margin: 0 0 -1px;
  border: 1px solid #e5e5e5;
}

.bs-docs-sidenav > li:first-child > a {
  -webkit-border-radius: 6px 6px 0 0;
     -moz-border-radius: 6px 6px 0 0;
          border-radius: 6px 6px 0 0;
}

.bs-docs-sidenav > li:last-child > a {
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
}
/* remove the default outline */
.bs-docs-sidenav > li {
  outline: none;
}

.bs-docs-sidenav > .active > a {
  background-color: #3483cc !important;;
  transition: 0.1s !important;
  color: white;
}

.bs-docs-sidenav > li > a:hover {
  background-color: #f5f5f5;
}

/* tab pane */
.tab-pane {
  max-width: 700px;
  margin: 30px
}
/*section > .page-header,
section > .lead {
  color: #5a5a5a;
}
section > ul li {
  margin-bottom: 5px;
}

.bs-docs-separator {
  margin: 40px 0 39px;
}

hr.soften {
  height: 1px;
  margin: 70px 0;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  border: 0;
}*/

/* user profile */
.information > p {
  margin: 20px;
  font-size: 16px;
  text-align: left;
}

/* search user */
.advancedSearch {
  margin: 15px;
}

.advancedSearch .row{
  margin-bottom: 15px;
}

.searchResult {
  width: 700px;
}

.searchResult .resultUnit {
  width: 200px;
  float: left;
  margin-left: 30px;
  margin-top: 30px;
}

.searchResult .resultUnit > img{
  width: 200px;
}

/* add new user */
.addUserPage {
  text-align: left;
}
.addUserPage .row{
  text-align: center;
}
