<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Shopping</title>
    <meta name="description" content="My Todo app is an useful tool.">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/index.css">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/user.css">
    <link rel="stylesheet" href="styles/login.css">
    <link rel="stylesheet" href="styles/waiting.css">
    <link rel="stylesheet" href="styles/chat.css">
    <link rel="stylesheet" href="styles/slider.css">
    <!-- endbuild -->
  </head>
  <body ng-app="magicApp">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="content" ng-controller="MasterCtrl">
      <nav class="navbar">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle btn-lg" data-toggle="collapse" data-target="#myNavbar">
              &#9776;
            </button>
            <a class="navbar-brand" href="#/">Magic</a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
              <li ng-class="{ active: isActive('/')}"><a href="#/">Home</a></li>
              <li ng-class="{ active: isActive('/user')}"><a href="#/user">User</a></li>
              <li ng-class="{ active: isActive('/chat')}"><a href="#/chat">Chat</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a ng-bind="currentUser.username"></a></li>
              <li><a ng-href="#" ng-click="logout()">Logout</a></li>
            </ul>
          </div>
      </nav>
      <div class="myView" ng-view=""></div>

      <!-- <div id="footer">
          <p><span class="glyphicon glyphicon-heart"></span> From the Yeoman team, extended by Leo Liu</p>
      </div> -->
    </div>


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/jquery-ui/jquery-ui.js"></script>
    <script src="bower_components/angular-ui-sortable/sortable.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/pubnub-angular/dist/pubnub-angular-3.1.1.min.js"></script>
    <script src="bower_components/ng-file-upload/ng-file-upload.js"></script>
    <script src="bower_components/ng-file-upload-shim/ng-file-upload-shim.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/environment.js"></script>
        <script src="scripts/controllers/master.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/login.js"></script>
        <script src="scripts/controllers/user.js"></script>
        <script src="scripts/controllers/chat.js"></script>
        <script src="scripts/services/Authentication.js"></script>
        <script src="scripts/services/dataService.js"></script>
        <script src="scripts/services/userService.js"></script>
        <script src="scripts/directives/directives.js"></script>
        <!-- endbuild -->

        <script src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
        <script src="https://cdn.pubnub.com/pubnub.min.js"></script>
        <script src="http://pubnub.github.io/pubnub-angular/lib/pubnub-angular.js"></script>
</body>
</html>
