<div class="chat">
  <div class="container">
    <div class="row">
      <div class="chat-body col-md-10 col-md-offset-1">
        <div class="chat-heading">
          Chat
        </div>
        <div class="chat-content">
          <div class="user-list">
              <h4>User list</h4>
              <div>
                <div ng-repeat="user in chatUsers">
                  <p>{{user}}</p>
                </div>
            </div>
          </div>
          <div class="right-part">

          <div class="messages">

            <div class="message" ng-repeat="message in chatMessages">
              <div class="image">
                <img src="http://placehold.it/50/55C1E7/fff&text=U" alt="User Avatar" class="" />
              </div>
              <div class="right-content">
                <div>
                    <div class="username">{{message.uuid}}</div>
                    <div class="time"><span class="glyphicon glyphicon-time"></span>{{message.date}}</div>
                </div>
                <div class="message-content">{{message.messageText}}</div>
              </div>
            </div>
          </div>
          <div class="panel-footer">
            <form name="textForm" ng-submit="textPublish()">
              <div class="input-group">
                <input id="btn-input" type="text" name="input" class="form-control typeahead"
                placeholder="Type your message here..." ng-model="currentUser.sendMessage" preset-sentence />
                <span class="input-group-btn">
                  <button type="submit" id="btn-chat" class="btn btn-primary">Send</button>
                </span>
              </div>
            </form>
          </div>
        </div>
      </div>

      </div>
    </div>

  </div>
</div>
