<div id="login" >

<div class="container" >
  <div class="login-wall col-md-6 col-xs-10 col-md-offset-3 col-xs-offset-1 col-sm-6 col-sm-offset-3 text-center">

    <div class='content'>
    <div class="logo">
      Login
    </div>
    <form class="form-signin" name="form" novalidate>
      <div>
        <input class="form-control" type="text" ng-model="user.username" name="username"
          placeholder="Username" required="" />
      </div>
      <div ng-show="form.$submitted || form.username.$touched">
        <div class="alert alert-danger login-alert" role="alert" ng-show="form.username.$error.required">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Error:</span>
          Username is required!
        </div>
      </div>
      <div>
        <input class="form-control" type="password" ng-model="user.password" name="password"
          placeholder="Password" required="" />
      </div>
      <div ng-show="form.$submitted || form.password.$touched">
        <div class="alert alert-danger login-alert" role="alert" ng-show="form.password.$error.required">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Error:</span>
          Password is required!
        </div>
      </div>
      <div ng-show="loginSending == true" class="sk-fading-circle">
        <div class="sk-circle1 sk-circle"></div>
        <div class="sk-circle2 sk-circle"></div>
        <div class="sk-circle3 sk-circle"></div>
        <div class="sk-circle4 sk-circle"></div>
        <div class="sk-circle5 sk-circle"></div>
        <div class="sk-circle6 sk-circle"></div>
        <div class="sk-circle7 sk-circle"></div>
        <div class="sk-circle8 sk-circle"></div>
        <div class="sk-circle9 sk-circle"></div>
        <div class="sk-circle10 sk-circle"></div>
        <div class="sk-circle11 sk-circle"></div>
        <div class="sk-circle12 sk-circle"></div>
      </div>
      <div>
        <button class="btn btn-primary btn-block" type="submit" ng-click="userLogin()" ng-disabled="loginSending">Login</button>
      </div>
      <div ng-show="error != ''" class="alert alert-danger login-alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        {{error}}
      </div>
    </form>
    </div>
  </div>

</div>

</div>
