<div class="main">
  <header id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for Slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <!-- Set the first background image using inline CSS below. -->
            <div class="fill" style="background-image:url(../images/background1.jpg)"></div>
            <div class="carousel-caption">
                <h2>Caption 1</h2>
            </div>
        </div>
        <div class="item">
            <!-- Set the second background image using inline CSS below. -->
            <div class="fill" style="background-image:url(../images/background2.jpg)"></div>
            <div class="carousel-caption">
                <h2>Caption 2</h2>
            </div>
        </div>
        <div class="item">
            <!-- Set the third background image using inline CSS below. -->
            <div class="fill" style="background-image:url(../images/background3.jpg)"></div>
            <div class="carousel-caption">
                <h2>Caption 3</h2>
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" ng-click='prevSlide()' role="button">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" ng-click='nextSlide()' role="button">
        <span class="icon-next"></span>
    </a>
    <a href="#contact" class="page-scroll">
      <span class="glyphicon glyphicon-download"></span>
    </a>
  </header>

  <section class="bg-primary" id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center">
          <h2 class="section-heading">CONTACT US</h2>
          <hr class="light">
        </div>
      </div>
      <div class="row">
        <form name="myForm">
          <div class="col-md-8 col-md-offset-2">
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" class="form-control contact-detail" placeholder="YOUR NAME" ng-model='username'/>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control contact-detail" placeholder="YOUR EMAIL" ng-model="email" />
                </div>
                <div class="form-group">
                  <input type="text" class="form-control contact-detail" placeholder="YOUR PHONE" ng-model="phone"/>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <textarea class="form-control" rows="7" placeholder="YOUR MESSAGE" ng-model="message" ></textarea>
                </div>
              </div>
          </div>
        </form>
      </div>
      <div class="row" ng-show="error">
        <span class="alert alert-danger">{{error}}</span>
      </div>
      <div class="row">
        <button type="submit" ng-click="sendMessage()" class="btn send-message" >Send Message</button>
      </div>
    </div>
  </section>

</div>
