<div class="user">
  <div class="container">
    <div class="row">

      <div class="left-content col-md-3">
          <ul class="nav nav-list bs-docs-sidenav">
            <li  ng-repeat="tab in tabs"
              ng-click="switchTab(tab)">
              <a data-toggle="tab" href="">{{tab}}</a>
            </li>
          </ul>
      </div>
      <div class="right-content col-md-9">
        <!-- tab: customer profile  -->
        <div role="tabpanel" class="tab-pane fadeIn" ng-show="active('Profile')">
          <h3><span class="glyphicon glyphicon-user"></span> Customer Profile</h3>
          <div class="row">
            <div class="col-md-4">
              <img ng-src={{currentUser.profileImage.url}} class="avatar img-circle img-thumbnail profileImage" alt="avatar" />
              <p>
                <form name="customisedItemForm">
                    <span>Upload Image: </span>
                    <div>
                      <input type="file" class="form-control" ngf-select=""
                      ng-model="currentUser.customisedItem.picture" ngf-accept="'image/*'" required="">
                      <img style="max-width:100%;max-height:100%" ngf-src="currentUser.customisedItem.picture" class="thumb">
                      <div ng-show="imageUploading" class="sk-fading-circle">
                        <div class="sk-circle1 sk-circle"></div>
                        <div class="sk-circle2 sk-circle"></div>
                        <div class="sk-circle3 sk-circle"></div>
                        <div class="sk-circle4 sk-circle"></div>
                        <div class="sk-circle5 sk-circle"></div>
                        <div class="sk-circle6 sk-circle"></div>
                        <div class="sk-circle7 sk-circle"></div>
                        <div class="sk-circle8 sk-circle"></div>
                        <div class="sk-circle9 sk-circle"></div>
                        <div class="sk-circle10 sk-circle"></div>
                        <div class="sk-circle11 sk-circle"></div>
                        <div class="sk-circle12 sk-circle"></div>
                      </div>
                      <button type="button" class="btn btn-primary" ng-disabled="!customisedItemForm.$valid" data-dismiss="modal"
                      ng-click="saveCustomerImage(currentUser.customisedItem.picture)">Upload</button>
                    </div>
                </form>
              </p>
            </div>
            <div class="col-md-8 information">
              <p class="row">
                <span class="col-md-4">Full Name: </span>
                <span class="col-md-8" ng-bind="currentUser.firstName + ' ' + currentUser.lastName"></span>
              </p>
              <p class="row">
                <span class="col-md-4">Email: </span>
                <span class="col-md-8" ng-bind="currentUser.email"></span>
              </p>
              <p class="row">
                <span class="col-md-4">Created date: </span>
                <span class="col-md-8" ng-bind="currentUser.createdAt" ></span>
              </p>
              <p class="row">
                <span class="col-md-4">Location: </span>
                <span class="col-md-8" ng-bind="currentUser.suburbString" ></span>
              </p>
            </div>
          </div>
        </div>

        <!-- tab: Search user -->
        <div role="tabpanel" class="tab-pane fadeIn" ng-show="active('Search User')">
          <div>
            <h2>Search User</h2>
            <form name="form" novalidate="" autocomplete="off">
              <div class="input-group">
                <input id="email"  name="email" ng-model="email" placeholder="Please write your email"
                class="form-control" required="" />
                <span class="input-group-btn">
                  <input type="submit" ng-click="findUserByEmail()" class="btn btn-primary" value="Search" ></input>
                </span>
              </div>
              <div class="advancedSearch" >
                <div class="row" >
                    <input type="text" class="form-control" placeholder="Suburb..."
                    ng-model='query.userLocation' google-place>
                </div>
                <div class="row">
                  <div class="btn-group col-md-2">
                    <button type="button" class="btn btn-default dropdown-toggle"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                    ng-init="query.selectedTag='all'">
                    <span ng-bind='query.selectedTag'></span>
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li ng-repeat='key in userTypeTags'>
                      <a ng-bind='key' ng-click="query.selectedTag=key"></a>
                    </li>
                  </ul>
                </div>
                <div class="col-md-10">
                  <div class="col-md-4">
                    <md-datepicker ng-model="query.dateStart"
                    md-placeholder="Enter date"></md-datepicker>
                  </div>
                  <label class="col-md-2 control-label">To</label>
                  <div class="col-md-4">
                    <md-datepicker ng-model="query.dateEnd"
                    md-placeholder="Enter date"></md-datepicker>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <input type="submit" ng-click="advancedSearch()" class="btn btn-primary" value="Search" />
            </div>
              <!-- <div ng-show="form.$submitted || form.email.$touched">
                <div class="alert alert-danger login-alert" role="alert" ng-show="form.email.$error.required">
                  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                  <span class="sr-only">Error:</span>
                  Email is required!
                </div>
                <div class="alert alert-danger login-alert" role="alert" ng-show="form.email.$error.email">
                  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                  <span class="sr-only">Error:</span>
                  Not valid email!
                </div>
              </div> -->
              <div class="alert alert-danger login-alert" ng-show="error != ''" role="alert">{{error}}</div>
              <div class="alert alert-warning" ng-show="warning != ''" role="alert">{{warning}}</div>
            </form>
        </div>
        <div>
          <div ng-show="userFinding" class="sk-fading-circle">
            <div class="sk-circle1 sk-circle"></div>
            <div class="sk-circle2 sk-circle"></div>
            <div class="sk-circle3 sk-circle"></div>
            <div class="sk-circle4 sk-circle"></div>
            <div class="sk-circle5 sk-circle"></div>
            <div class="sk-circle6 sk-circle"></div>
            <div class="sk-circle7 sk-circle"></div>
            <div class="sk-circle8 sk-circle"></div>
            <div class="sk-circle9 sk-circle"></div>
            <div class="sk-circle10 sk-circle"></div>
            <div class="sk-circle11 sk-circle"></div>
            <div class="sk-circle12 sk-circle"></div>
          </div>
          <div class="searchResult" ng-repeat="user in userSearchResults">
            <div class="resultUnit">
              <img ng-src="{{user.profileImage.url}}" onerror="this.src='../images/background1.jpg'" alt="No picture" />
              <div ng-bind="user.firstName"></div>
              <div ng-bind="user.lastName"></div>
              <div ng-bind="user.email"></div>
              <div ng-bind="user.suburbString"></div>
              <div ng-bind="user.createdAt | date:'MM/dd/yyyy'"></div>
            </div>
          </div>
        </div>
        </div>

        <!-- add new user -->
        <div role="tabpanel" class="tab-pane fadeIn" ng-show="active('Add User')">
          <div class="addUserPage">
            <h3 class="dark-grey">Add User</h3>

            <div class="form-group col-lg-12">
              <label>Username</label>
              <input ng-model="newUser.username" class="form-control" id="" value="">
            </div>

            <div class="form-group col-lg-6">
              <label>Password</label>
              <input type="password" ng-model="newUser.password" class="form-control" id="" value="">
            </div>

            <div class="form-group col-lg-6">
              <label>Repeat Password</label>
              <input type="password" ng-model="newUser.repeatPassword" class="form-control" id="" value="">
            </div>

            <div class="form-group col-lg-6">
              <label>Email Address</label>
              <input type="" ng-model="newUser.email" class="form-control" id="" value="">
            </div>

            <div class="form-group col-lg-6">
              <label>Repeat Email Address</label>
              <input type="" ng-model="newUser.repeatEmail" class="form-control" id="" value="">
            </div>

            <div class="row">
              <div class="form-group">
                <input type="checkbox" ng-model="newUser.sendEmail" />
                <label>Send notifications to this email</label>
              </div>
            </div>
            <div class="row">
              <button type="submit" ng-click="addNewUser()" class="btn btn-primary">Register</button>
            </div>
            <div class="alert alert-success" ng-show="successMessage != ''" ng-model="successMessage">{{successMessage}}
            </div>
            <div class="alert alert-danger login-alert" ng-show="addUserError != ''" role="alert">{{addUserError}}</div>
          </div>

        </div>
        </div>
      </div>
    </div>
  </div>
</div>
